In [3]:
%%capture
!pip install -r ../requirements.txt

In [4]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-manylinux1_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 36.2 MB/s eta 0:00:0031m31.1 MB/s eta 0:00:01
Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from lightgbm) (1.23.1)
Requirement already satisfied: scipy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from lightgbm) (1.9.0)
Requirement already satisfied: wheel in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from lightgbm) (0.37.1)
Requirement already satisfied: scikit-learn!=0.22.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from lightgbm) (1.1.1)
Requirement already satisfied: joblib>=1.0.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (3.1.0)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2

[notice] A new release of pip available: 22.1.2 -> 22.2.1
[notice] To update, run: pip install --upgrade pip

In [6]:
%%capture
!pip install statsmodels

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf

from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

from lightgbm import LGBMRegressor

In [8]:
test = pd.read_csv('../data/raw/bike_sharing_test.csv')
df_raw = pd.read_csv('../data/raw/bike_sharing_train.csv')

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [10]:
df_raw.sample(10)

                  datetime  season  holiday  ...  casual  registered  count
6895   2012-04-05 15:00:00       2        0  ...      98         171    269
6302   2012-02-18 20:00:00       1        0  ...      25         123    148
4874   2011-11-16 04:00:00       4        0  ...       1           3      4
6717   2012-03-17 04:00:00       1        0  ...       0           2      2
1108   2011-03-10 19:00:00       1        0  ...       5          51     56
9957   2012-10-19 06:00:00       4        0  ...       5         126    131
7028   2012-04-11 05:00:00       2        0  ...       1          26     27
10192  2012-11-10 02:00:00       4        0  ...       2          42     44
5914   2012-02-02 15:00:00       1        0  ...      24         150    174
9988   2012-11-01 13:00:00       4        0  ...      49         199    248

[10 rows x 12 columns]